<%= render "shared/header" %>

<div class='user-info'>
  <h3 class='user-nickname'>
    <%= @user.nickname %>
  </h3>
  <div class='post-category'>
    <%= "自己紹介カラムをあとから追加" %>
  </div>
</div>

<% if user_signed_in? && current_user.id == @user.id %>
  <%= link_to 'ユーザー情報の編集', edit_user_registration_path(@user.id), method: :get, class: "user-red-btn" %>
<% else %>
  <% if @is_room == true %>
    <%= link_to 'メッセージを送る', '#', method: :get, class: "chat-red-btn" %>
  <% else %>
    <%=form_with model: @room, local: true do |f|%>
      <%= fields_for @room_user do |r| %>
        <%= r.hidden_field :user_id, value: @user.id %>
      <% end %>
      <%= f.submit 'メッセージを送る', class: "chat-red-btn" %>
    <% end %>
  <% end %>
<% end %>

<%= render "shared/footer" %>