<%= render "shared/header" %>
<div class='main'>
  <%# ユーザー投稿一覧 %>
  <div class='user-posts'>
    <ul class='post-lists'>
      <% @posts.order('id DESC').each do |post| %>
      <li class='list'>
        <%= link_to post_path(post.id), class: 'post-content' do %>
        <div class='post-info'>
          <h3 class='post-title'>
            <%= post.title %>
          </h3>
          <div class='post-user'>
            <%= User.find_by(id: post.user_id).nickname %>
          </div>
          <div class='post-category'>
            <%= post.category.name %>
          </div>
          <div class='post-prefecture'>
            <%= post.prefecture.name %>
          </div>
          <div class='post-description'>
            <%= post.description %>
          </div>
        </div>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<div class='post-btn'>
  <%= link_to new_post_path do %>
    <span class='post-btn-text'>投稿</span>
  <% end %>
</div>